@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Jardinería Hermanos Hernández</h1>
    <button onclick="window.location.href='/Cliente/index'" class="btn btn-dark btn-lg">Ir a Clientes</button>
    <button class="btn btn-dark btn-lg">Ir a Empleados</button>
    <button class="btn btn-dark btn-lg">Ir a Mantenimiento</button>
    <button class="btn btn-dark btn-lg">Ir a Maquinaria</button>
    <p>Creado en Heredia, Costa Rica | Floricela Arguedas.</p>
</div>
