@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Jardinería Hermanos Hernández</h1>
    <button onclick="window.location.href='/Cliente/index'">Ir a Clientes</button>
    <button>Ir a Empleados</button>
    <button>Ir a Mantenimiento</button>
    <button>Ir a Maquinaria</button>
    <p>Creado en Heredia, Costa Rica | Floricela Arguedas.</p>
</div>
